# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production build output
/dist

# misc
.DS_Store
*.pem

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor configs
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# yarn / npm logs
yarn-debug.log*
yarn-error.log*
npm-debug.log*
pnpm-debug.log*
